<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<springProperty scope="context" name="logPath" source="logging.path"
		defaultValue="logs" />

	<!-- 格式化输出：%date表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符 -->
	<property name="LOG_PATTERN"
		value="%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

	<property name="PROJECT_NAME" value="nacos-provider" />

	<appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${LOG_PATTERN}</pattern>
		</layout>
	</appender>

	<appender name="fileLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>
				${LOG_PATTERN}
			</pattern>
		</encoder>
		<!--滚动策略 -->
		<File>${PROJECT_NAME}.log</File>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!--路径 -->
			<fileNamePattern>${LOG_PATH}${PROJECT_NAME}.%d-%i.log</fileNamePattern>
			<maxFileSize>50MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>2GB</totalSizeCap>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
	</appender>

	<logger name="com.ads.provider.dao" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="consoleLog" />
		<appender-ref ref="fileLog" />
	</root>

</configuration>
